<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="app.component.html">Insoftar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="app.component.html">Inicio</a>
        <a class="nav-link" href="#" (click)="mostrarFormulario(null,'agregar')">Agregar usuario</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid margin-container" id="main-container">
  <div class="d-flex flex-wrap justify-content-center border-top">
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cedula</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Accion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{usuario.id}}</th>
        <td>{{usuario.nombres}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.cedula}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.telefono}}</td>
        <td><a href="#" (click)="mostrarFormulario(usuario,'modificar')" class="btn btn-light">Modificar</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--add user-->
<!-- Modal -->
<div class="modal fade" id="agregarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formulario="ngForm" (ngSubmit)="guardarUsuario(formulario)">
          <div class="mb-3">
            <label for="nombres" class="form-label">Nombres</label>
            <input #nombres="ngModel" type="text" ngModel name="nombres" class="form-control" id="nombres"   placeholder="escribe tu nombre..." pattern="[a-zA-Z ]*" required>
            <div *ngIf="nombres.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="nombres.invalid" style="color: #ff9900; font-size: 80%">
              verifica que no hallan numeros
            </div>
          </div>
          <div class="mb-3">
            <label for="apeliidos" class="form-label">Apellidos</label>
            <input
              #apellidos="ngModel" type="email" ngModel name="apellidos" class="form-control" id="apeliidos"  placeholder="escribe tu apellido..." pattern="[a-zA-Z ]*" required>
            <div *ngIf="apellidos.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="apellidos.invalid" style="color: #ff9900; font-size: 80%">
              verifica que no hallan numeros
            </div>
          </div>
          <div class="mb-3">
            <label for="cedula" class="form-label">Numero de cedula</label>
            <input #cedula="ngModel" type="number" ngModel name="cedula" class="form-control" id="cedula"  placeholder="escribe tu cedula..." pattern="[0-9]*" required>
            <div *ngIf="cedula.errors?.required"  style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="cedula.invalid"  style="color: #ff9900; font-size: 80%">
              verifique que no hallan letras
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electronico</label>
            <input #email="ngModel" type="email" ngModel name="correo" class="form-control" id="email"  placeholder="name@example.com" required email>
            <div *ngIf="email.errors?.required"  style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="email.invalid"  style="color: #ff9900; font-size: 80%">
              verifica que el email sea tipo email
            </div>
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input #telefono="ngModel" type="text" ngModel name="telefono" class="form-control" id="telefono"  placeholder="numero de telefono..."  minlength="10" pattern="[0-9]*" required>
            <div *ngIf="telefono.errors?.required"  style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="telefono.invalid"  style="color: #ff9900; font-size: 80%">
              digite minimo 10 numeros y no coloque letras
            </div>
          </div>
          <button [disabled]="formulario.invalid" type="submit" class="btn btn-dark" data-bs-dismiss="modal">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--- editUser --->
<!-- Modal -->
<div class="modal fade" id="modificarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formularioEditar="ngForm" (ngSubmit)="actualizarUsuario(formularioEditar)">
          <div class="mb-3">
            <label for="idUsuario" class="form-label">Id</label>
            <input  type="text"  ngModel="{{usuarioModificar?.id}}" name="id" class="form-control" id="idUsuario"  readonly required>

          </div>
          <div class="mb-3">
            <label for="nombres" class="form-label">Nombres</label>
            <input #nombresModificar="ngModel" type="text" ngModel="{{usuarioModificar?.nombres}}" name="nombres" class="form-control" id="nombreEditar" pattern="[a-zA-Z ]*"  placeholder="escribe tu nombre..."  required>
            <div *ngIf="nombresModificar.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="nombresModificar.invalid" style="color: #ff9900; font-size: 80%">
              verifica que no hallan numeros
            </div>
          </div>
          <div class="mb-3">
            <label for="apeliidos" class="form-label">Apellidos</label>
            <input #apellidosModificar="ngModel" type="email" ngModel="{{usuarioModificar?.apellidos}}" name="apellidos" class="form-control" id="apellidoEditar" pattern="[a-zA-Z ]*"  placeholder="escribe tu apellido..."  required>
            <div *ngIf="apellidosModificar.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="apellidosModificar.invalid" style="color: #ff9900; font-size: 80%">
              verifica que no hallan numeros
            </div>
          </div>
          <div class="mb-3">
            <label for="cedula" class="form-label">Numero de cedula</label>
            <input #cedulaModificar="ngModel" type="number" ngModel="{{usuarioModificar?.cedula}}" name="cedula" class="form-control" id="cedulaEditar"  placeholder="escribe tu cedula..."  required>
            <div *ngIf="cedulaModificar.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo electronico</label>
            <input #correoModificar="ngModel" type="email" ngModel="{{usuarioModificar?.correo}}" name="correo" class="form-control" id="emailEditar"  placeholder="name@example.com"  required>
            <div *ngIf="correoModificar.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input #telefonoModificar="ngModel" type="text" ngModel="{{usuarioModificar?.telefono}}" name="telefono" class="form-control" id="telefonoEditar" minlength="10" pattern="[0-9]*"  placeholder="numero de telefono..." required>
            <div *ngIf="telefonoModificar.errors?.required" style="color: #ff9900; font-size: 80%">
              el campo no debe estar vacio
            </div>
            <div *ngIf="telefonoModificar.errors?.minlength" style="color: #ff9900; font-size: 80%">
              digite minimo 10 numeros
            </div>
            <div *ngIf="telefonoModificar.invalid" style="color: #ff9900; font-size: 80%">
              verifica que no hallan letras
            </div>
          </div>
          <button [disabled]="formularioEditar.invalid"  type="submit" class="btn btn-dark" data-bs-dismiss="modal">Modificar</button>
        </form>
      </div>
    </div>
  </div>
</div>
