<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="app.component.html">Insoftar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="app.component.html">Inicio</a>
        <a class="nav-link" href="#">Agregar usuario</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid margin-container">
  <div class="d-flex flex-wrap justify-content-center border-top">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Jeisson Cortes</h5>
        <p class="card-text">Cedula: 413535135</p>
        <p class="card-text">Correo: jeisson@gmail.com</p>
        <p class="card-text">telefono: 3012314114</p>
        <a href="#" class="btn btn-primary">Modificar</a>
      </div>
    </div>
  </div>
</div>

